<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('weapon.show', {slug: weapon.slug, id: weapon.id}) }}">
				{{ weapon.name }}
			</a>
		</h5>
		{% if weapon.image %}
			<img class="card-img-top mt-3 mb-3" src="{{ asset('uploads/' ~ weapon.image) }}" alt="{{ weapon.image }}">
		{% else %}
			<img class="card-img-top mt-3 mb-3" src="image/vyp1.jpg" alt="Steins;Gate">
		{% endif %}

		<div class="desc">
		<p class="card-text">{{ weapon.description }}</p>
		<button id="btn" class="readmore btn btn-secondary">Read more</button>
		</div>

		<p class="card-text mt-2">Date de création: {{ weapon.formattedDate }}</p>
	</div>
</div>

