{% extends "base.html.twig" %}
{% block title  weapon.name  %}

{% block body %}

	<div class="jumbotron text-center">
		<h1>ネームコード:
			{{ weapon.name }}</h1>
	</div>
	{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
	{% endfor %}
	<div class="container mt-4">
		<div class="col-md-8">
			<h2>日付: {{ weapon.formattedDate }}</h2>
			<h2>パワー: {{ weapon.truePower }}</h2>
			<p style="font-style:italic; font-size:2rem;">{{ weapon.description }}</p>
			<div class="contact">
						{{ form_start(form_contact) }}
				{{ form_rest(form_contact) }}
			<button type="submit" class="btn btn-danger">たすけて</button>
			{{ form_end(form_contact) }}
			</div>
		</div>
		<button class="btn btn-success show mt-5">Masquer</button>
	</div>
			
{% endblock %}

{% block javascripts %}
<script>
	$(".show").on('click', function(){
		$(".contact").toggleClass('hide');
		$(".contact").hasClass('hide') ? $(this).text('Contactez-nous') : $(this).text('Masquer');
	})
</script>
{% endblock %}
