{% extends "base.html.twig" %}
{% block title %}秘密兵器
{% endblock %}

{% block body %}
	<div class="jumbotron">
	<div class="container ">
		{{ form_start(form_search) }}
		<div class="form-row align-items-end">
			<div class="col">
				{{ form_row(form_search.searchName) }}
			</div>
			<div class="col">
				{{ form_row(form_search.searchDate) }}
			</div>
			<div class="col">
				{{ form_row(form_search.searchOptions) }}
			</div>
			<div class="col">
			<div class="form-group">
				<button class="btn btn-primary">Rechercher</button>
			</div>
			</div>
		</div>
		{{ form_end(form_search) }}
		</div>
	</div>

	<div class="container mt-4">
		<div class="row flex">
			{% for weapon in weapons %}
				<div class="col-4 mt-3">
					{% include "weapon/_weapon.html.twig" %}
				</div>
			{% endfor %}
		</div>

		<div class="pagination">
			{{ knp_pagination_render(weapons) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

